{{template "base" .}}

{{define "content" }}

<div class="container">
    <div class="row">
        <div class="col">
            <p>This is some text</p>
            <p>This is desciption</p>
            <h1>This is the About page</h1>
                <p>My name is Go lang page</p>
                <p>I am devekoper {{index .StringMap "test"}} </p>
        </div>
    </div>
</div>

{{end}}