{{template "base" .}}

{{define "content" }}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>News page</h1>
            <h1>News page 2</h1>
            <h1>News page 3</h1>
            <h1>News page 4</h1>
            <h1>News page 4</h1>
            <h1>News page 0</h1>
        </div>
    </div>
</div>

{{end}}